* {
    margin: 0;
    padding: 0;
    font-family: "Jersey 10", sans-serif;
    
    
}

:root {
    --scrollbar-width: 10px;
    --scrollbar-color: #5300C8;
    --scrollbar-thumb-color: rgb(114, 114, 231);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    
    
}

header {
    background-color: #5300C8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

header h1 {
    color: #FFF;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    
    
}

section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;

    /* flex-wrap: wrap;
    box-sizing: border-box;
    overflow-y: auto; 
    max-height: 50vh; 
    max-width: 50vw;  
    box-shadow: 0px 0px 0px 0.1px #5300C8; */
    
    
    
   
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    width: 35%;
}

form h1 {
    align-self: center;
}

input {
    align-self: center;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #5300C8;
    padding: 0px 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #5300C8;
    color: #FFF;
    margin: 0px;
    padding: 25px 0px;
    
    
}
i {
    cursor: pointer;
}

.product-container {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 70%;
    overflow: auto;
    max-height: 70vh;   

}

.product-container::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.product-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-color);
}

.product-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

.card-container-price{
    display: flex;
    justify-content: space-between;

}

.card {
    width: 200px;    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #6a0dad, #b19cd9);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.card img {
    max-width: 100px;
    min-height: 100px;
}

.card p {
    margin: 10px 0 0;
}


/////

